<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>

  <body>
    <h1>Generate</h1>

    <h2>Add a prompt</h2>
    <form method="POST" action = "/">
      <div class = "form-group">
        <input type="text" class="form-control" name="user_input">
      </div>
      <input class="btn btn-primary" type="submit" value="submit">
    </form>
    <script>
        window.scrollTo(0,document.body.scrollHeight);
    </script>

    <h2>Generated text</h2>
    <p>
    {{new_story | safe}}
    </p>

  </body>

</html>
